NEXT_PUBLIC_SUPABASE_URL=https://boaaiskncrfmaismhqno.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_EulfIYv6gVJAP8vzb-v1_A_8Lz_-EzC
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://folus-emporium-stores-online.vercel.app
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
BREVO_API_KEY=
BREVO_NEWSLETTER_LIST_ID=
BREVO_CUSTOMER_WELCOME_TEMPLATE_ID=
BREVO_NEWSLETTER_WELCOME_TEMPLATE_ID=
NEWSLETTER_FROM_EMAIL=
TRANSACTIONAL_FROM_EMAIL=
RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
